$maxwidth: 500px;
$buttonwidthmobile: $maxwidth - 350px;
$buttonwidthpc: $maxwidth - 300px;
* { box-sizing: border-box;}
body {
    position: relative;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    .MuiAppBar-colorPrimary, .MuiButton-contained {
        background-color: #0064a4;
    }
    .Login, .Register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Home, .Register {
        @media only screen and (max-width: $maxwidth) {
            height: 150vh;
            padding: 0 10px;
        }
    }
    .Login {
        @media only screen and (max-width: $maxwidth) {
            height: 60vh;
        }
    }
    .btns button {
        border-radius: 0;
        color: white;
        @media only screen and (max-width: $maxwidth) { 
            font-size: 12px;
            margin: 10px 0px;
            min-width: $buttonwidthmobile;
        }
        min-width: $buttonwidthpc;
        padding: 10px 30px;
        margin: 10px 25px;
    }
}