$maxwidth: 400px;

body {
    position: relative;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    .MuiAppBar-colorPrimary, .MuiButton-contained {
        background-color: #0064a4;
    }
    .Home, .Login, .Register {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Home, .Register {
        @media only screen and (max-width: $maxwidth) {
            height: 120vh;
            padding: 0 10px;
        }
    }
    .Login {
        @media only screen and (max-width: $maxwidth) {
            height: 90vh;
        }
    }
    .btns button {
        border-radius: 0;
        color: white;
        @media only screen and (max-width: 400px) { 
            font-size: 12px;
            min-width: 180px;
        }
        padding: 15px 50px;
        margin: 10px 25px;
        min-width: 200px;
    }
}