.Login {
    border: 1px solid black;
    font-size: 18px;
    padding: 30px;
    @media only screen and (max-width: 800px) {
        margin: 40px 0;
    }
    margin: 100px 300px;
    input {
        font: 400 16px Arial;
        min-height: 40px;
        min-width: 200px;
        margin: 15px 0;
        padding: 0 5px;
    }
    .submit {
        p {
            font-size: 12px;
            float: left;
        }
        button {
            float: right;
        }
        p, button  {
            display: inline;
        }
    }
}