.Login {
  border: 1px solid black;
  font-size: 18px;
  @media only screen and (max-width: 800px) {
    margin: 50px 20px;
  }
  margin: 120px 300px;
  padding: 20px;
  a {
    color: #1a73e9;
    text-decoration: none;
  }
  input {
    font: 400 16px Arial;
    min-height: 40px;
    min-width: 200px;
    margin: 15px 0;
    padding: 0 5px;
  }
  .submit {
    a {
      font-size: 12px;
      float: left;
    }
    button {
      float: right;
    }
  }
  #create {
    padding: 15px 0;
  }
}
