.Login {
  border: 1px solid black;
  font-size: 18px;
  margin: 120px;
  input {
    font: 400 16px Arial;
    min-height: 40px;
    min-width: 200px;
    margin: 15px 0;
    padding: 0 5px;
  }
  .submit {
    p {
      font-size: 12px;
      float: left;
    }
    button {
      float: right;
    }
    p,
    button {
      display: inline;
    }
  }
}
