.Register {
  border: 1px solid black;
  font-size: 16px;
  margin: 30px;
  padding: 20px 200px !important;

  form {
    text-align: center;
    input {
      font: 400 16px Arial;
      min-height: 40px;
      min-width: 200px;
      margin: 20px 0;
      padding: 0 5px;
    }
    select {
      font: 400 18px Arial;
      margin: 20px;
      min-width: 210px;
    }
  }

  .submit {
    p {
      font-size: 12px;
      float: left;
    }
    button {
      float: right;
    }
    p,
    button {
      display: inline;
    }
  }
}
